name: lint

on:
  push:
    paths:
      - "**.go"
  pull_request:
    paths:
      - "**.go"

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install web dependencies
        run: npm install
        working-directory: ./web

      - name: Build web
        run: npm run build
        working-directory: ./web

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
