name: test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Install gotestsum
        run: go install gotest.tools/gotestsum@latest

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install web dependencies
        run: npm install
        working-directory: ./web

      - name: Build web
        run: npm run build
        working-directory: ./web

      - name: Test
        run: gotestsum --format pkgname-and-test-fails -- -race -short ./...
